body {
    font-family: sans-serif;
}
.header {
    background-color: antiquewhite;
    text-align: center;
}
.main-heading {
    font-size: 36px;
    padding-top: 50px;
}
.sub-heading {
    font-size: 18px;
    padding-bottom: 40px;
}
.main {
    text-align: left;
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 80px;
    line-height: 2.5;
    max-width: 1000px;
    margin: 40px auto;
}
.intro {
    max-width: 400px;
}
.photo img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 150px;
}
ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}
li {
    list-style: none;
}
.sns-btn img {
    width: 55px;
    height: 25px;
    object-fit: contain;
    display: block;
}
@media screen and (max-width: 414px){
    .main {
        flex-direction: column;
    }
}

